body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(12, 158, 44);
}

nav {
  background: #2a457f;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border:1px solid white;
  border-radius: 1.5rem;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  margin: 20px 0;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #3f2062;
  color: white;
  border: none;
  border:1px solid white;
  border-radius: 1.5rem;
}

ul {
  list-style-type:disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 background-color: #5d5dc1;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #182b34;
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.auth-form, .expense-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.auth-form input, .expense-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
}

.auth-form button, .expense-form button {
  padding: 10px;
 
  color: white;
  border: none;
  cursor: pointer;
}

.expense-block {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
